<!DOCTYPE html>
<html>
<head>
    <title>Hadasim</title>
</head>
<body>
    <h1>Client details:</h1>
    <form action="/submit" method="post">
        <label for="name">first name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="last_name">last name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>

        <label for="street">Street Address:</label><br>
        <input type="text" id="street" name="street"><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>

        <label for="state">State:</label><br>
        <input type="text" id="state" name="state"><br>

        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br>

        <label for="phone">Phone number:</label><br>
        <input type="tel" id="phone" name="phone"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>