<!DOCTYPE html>
<html>
<head>
    <title>Hadasim</title>
</head>
<body>
    <h1>Vaccination details:</h1>
    <form action="/submission" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>

        <label for="v_date">Date of vaccination:</label><br>
        <input type="date" id="v_date" name="v_date"><br>

        <label for="v_factory">Phone number:</label><br>
        <input type="text" id="v_factory" name="v_factory"><br>

        <label for="p_date">Date of positive Covid:</label><br>
        <input type="date" id="p_date" name="p_date"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>